Package: net.tateu.opennotifier9
Name: OpenNotifier9 - tateu
Version: 2.5.0~beta18
Provides: com.n00neimp0rtant.opennotifier, net.tateu.opennotifier
Conflicts: com.n00neimp0rtant.opennotifier, net.tateu.opennotifier, net.tateu.opennotifierbeta
Depends: firmware (>=9.0), mobilesubstrate, libstatusbar, preferenceloader, applist
Architecture: iphoneos-arm
Description: Show Notification Icons in the status bar. Unofficial Beta version for my personal use, compiled for iOS9 and armv7 and arm64.
Author: tateu (based on n00neimp0rtant) <tateu@tateu.net>
Depiction: http://www.tateu.net/repo/html/?p=opennotifier9
Maintainer: tateu (Josh Harris) <tateu@tateu.net>
Section: Tweaks
