Package: net.tateu.opennotifierbeta
Name: OpenNotifier Beta - tateu
Version: 2.1.1~beta-20
Provides: com.n00neimp0rtant.opennotifier, net.tateu.opennotifier
Conflicts: com.n00neimp0rtant.opennotifier, net.tateu.opennotifier
Depends: firmware (>=7.0), mobilesubstrate, libstatusbar, preferenceloader, applist
Architecture: iphoneos-arm
Description: Show Notification Icons in the status bar. Unofficial Beta version for my personal use, compiled for iOS7 and armv7 and arm64.
Author: tateu (based on n00neimp0rtant) <tateu@tateu.net>
Depiction: http://www.tateu.net/repo/html/opennotifierbeta.htm
Maintainer: tateu (Josh Harris) <tateu@tateu.net>
Section: Tweaks
